@model IEnumerable<Myshop.core.Models.OrderItem>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>Line Order</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @String.Format("{0:c}",item.price*item.Quantity)
        </td>
    </tr>
}

    <tr>
        <td colspan="3" style="text-align:right">
            <strong>Order Total</strong>
        </td>
        <td>
            @string.Format("{0:c}", (from p in Model select p.Quantity * p.price).Sum())    
        </td>
    </tr>

</table>
