@model Myshop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + " Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <div class="col-md-2">
        <img class="img-responsive" src="~/Content/Productimages/@Model.Image" />
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.Price)
                </dd>

                <dt></dt>
                <span> &nbsp; &nbsp; &nbsp;</span>
                <dd><a href="@Url.Action("AddToBasket" , "Basket" , new { Id=Model.Id})" class="btn btn-danger">Add to Basket</a> </dd>
                <span> &nbsp; &nbsp; &nbsp;</span>
                <span> &nbsp; &nbsp; &nbsp;</span>
                <dd><a href="@Url.Action("Index" , "Home" , new { Id=Model.Id})" class="btn btn-danger">Continue Shopping</a></dd>
                <dd>@*@Html.ActionLink("Continue Shopping", "Index")*@</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-12 clearfix"></div>
</div>
